* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-size: 16px;
  display: flex;
}

.intro {
	background-color: #444;
	color: #e3e3e3;
	padding: 5px 10px;
	height: 200px;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
}

.intro h1 {
	font-size: 2em;
	font-family: serif;
}

.intro p {
	font-size: 1em;
	font-color: inherit;
}
